@layer base {
    html, body {
        font-family: "Lato";
        scroll-behavior: smooth;
    }

    h1, h2, h3, h4, h5 {
        font-family: "Open Sans";
    }

    /* Our page header is sticky so we need to account for that when jumping to page anchors */
    article {
        h1[id],h2[id],h3[id],h4[id] {
            scroll-margin-top: 90px;
        }
    }
}