@layer components {
   .tag {
        @apply inline-flex justify-center items-center px-1 py-0.5 mr-3 text-xs rounded border;
        @apply text-gray-600 bg-gray-100  border-gray-200 shadow-inner;
        @apply dark:bg-gray-600 dark:border-gray-700 dark:text-gray-300
   } 
}