.banner {
    @apply w-full bg-gray-100 relative bg-cover;

    .banner-text {
        @apply absolute top-0 left-0 w-full h-full flex items-center justify-center;
        @apply text-white;

        a {
            @apply underline;
        }
    }

    text-shadow {
        text-shadow: 0 4px 8px rgba(0,0,0,0.12), 0 1px 4px rgba(0,0,0,0.08);
    }
}