{{ define "main" }}
<div class="container flex justify-center px-4 pt-4 mb-4 lg:mx-auto md:mb-8 lg:mb-12 md:pt-6 lg:pt-8">
  <article class="overflow-visible w-full prose sm:prose-sm dark:prose-light lg:prose-xl">
    {{ if .Params.hide_header }}{{else}}
    <header>
      <h1>{{ .Title }}</h1>
      {{ partial "post-meta.html" . }}
    </header>
    {{ end }}

    {{ if .Params.hide_toc }}{{ else }}
    <div class="md:text-base">
    {{ .TableOfContents }}
    </div>
    {{ end }}
    
    {{ .Content }}
  </article>
</div>
{{ end }}