{{ define "main" }}
<div class="container flex justify-center px-4 pt-4 mb-4 lg:mx-auto md:mb-8 lg:mb-12 md:pt-6 lg:pt-8">
    <div class="w-full prose dark:prose-light sm:prose-sm lg:prose-lg">
        <h1>{{ .Title }}</h1>
        {{ .Params.description }}
        <ul>
            {{ range .Data.Terms.Alphabetical }}
                    <li>
                        <span class="block">
                            <a href="{{ .Page.Permalink }}">
                                <strong>#{{ .Page.Title }}</strong>
                            </a> 
                            <span class="text-gray-600 dark:text-gray-300">
                                ({{ .Count }} posts)
                            </span>
                        </span>
                        <span class="text-gray-600 dark:text-gray-300">{{ .Page.Params.description }}</span>
                    </li>
            {{ end }}
        </ul>
    </div>
</div>
{{ end }}