<div class="-mt-8">
{{ partial "separator-top.html" (dict "bottom" "bg-gray-100 dark:bg-gray-800" "top" "bg-transparent") }}
</div>
<div class="footer">
    <div class="container">
        <nav>
            {{ if site.Params.footer_left_label }}
            <label>{{ site.Params.footer_left_label }}</label>
            {{ end}}
            <ul>
            {{ range site.Menus.footer_left }}
                <li>
                    <a href="{{ .URL }}">
                        {{.Name}}
                    </a>
                </li>
            {{ end }}
            </ul>
        </nav>

        <nav>
            {{ if site.Params.footer_middle_label }}
            <label>{{ site.Params.footer_middle_label }}</label>
            {{ end}}
            <ul>
            {{ range site.Menus.footer_middle }}
                <li>
                    <a href="{{ .URL }}">
                        {{.Name}}
                    </a>
                </li>
            {{ end }}
            </ul>
        </nav>

        <nav>
            {{ if site.Params.footer_right_label }}
            <label>{{ site.Params.footer_right_label }}</label>
            {{ end}}
            <ul>
            {{ range site.Menus.footer_right }}
                <li>
                    <a href="{{ .URL }}">
                        {{ if .Params.image }}<img class="{{ if .Params.image_dark }}block dark:hidden{{end}} {{ .Params.image_classes | default "" }}" src="{{ .Params.image }}">{{ end }}
                        {{ if .Params.image_dark }}<img class="hidden dark:block  {{ .Params.image_classes | default "" }}" src="{{ .Params.image_dark }}">{{ end }}
                        {{.Name}}
                    </a>
                </li>
            {{ end }}
            </ul>
        </nav>
    </div>
</div>