    <div class="flex flex-row">
      <span class="flex-grow-0 flex-shrink-0 tag">
        <svg xmlns="http://www.w3.org/2000/svg" class="inline mr-1 w-4 h-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        {{ .ReadingTime }} min read
      </span>

      <span class="flex-grow-0 flex-shrink-0 tag">
        <svg xmlns="http://www.w3.org/2000/svg" class="inline mr-1 w-4 h-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
        </svg>
        {{ .Date.Format "Mon, Jan 2, 2006" }}
      </span>

      <div class="flex flex-row flex-wrap flex-grow justify-end">
        {{ partial "taglist.html" . }}
      </div>
    </div>