{{ define "main" }}

{{/* Start of banner */}}
  {{ with site.Params.banner }}
  {{ if . }}
  <div class="banner {{ .bannerClass | default "h-screen min-h-50w md:min-h-0 sm:h-screen-30 md:h-screen-40 lg:h-screen-50 text-center" }}" style="background-image: url('{{.image}}'); max-height: calc(100vh - 80px); {{ .bannerStyle | safeCSS | default ""}};">
    <div class="banner-text {{ .bg_class | default "bg-opacity-25 dark:bg-opacity-10 bg-gray-500 dark:bg-gray-700 bg-no-repeat backdrop-filter backdrop-brightness-75" }}">
      <h4 class="text-2xl font-semibold tracking-wide text-white sm:text-3xl lg:text-4xl text-shadow">
        {{ .text | markdownify }}
      </h4>
    </div>

    <a class="absolute block m-auto -ml-6 text-white bottom-6 sm:hidden left-1/2" href="#below-banner">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-12 h-12" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
      </svg> 
    </a>
  </div>

  <div id="below-banner" class="pt-20 -mt-20"></div>
  {{ partial "inline-style.html" "banner.css"}}
  {{ end }}
  {{ end }}
{{/* End of banner */}}

<div class="-mt-8">
  {{ partial "separator-top.html" (dict "bottom" "bg-white dark:bg-gray-900" "top" "bg-transparent") }}
</div>

<!-- Recent Posts -->
<div class="py-8">
  <section class="container p-6 mx-auto md:p-10 lg:p-14">
    <div class="mb-4 md:mb-6 lg:mb-8">
      <h2 class="text-2xl font-semibold text-gray-800 dark:text-gray-100">Recent Posts</h2>
      <span class="block -mt-1 text-gray-400 text-normal dark:text-gray-200">
        Here's a list of new stuff. You can also check out <a href="/posts/" class="underline">all posts</a>.
      </span>
    </div>
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 xl:grid-cols-3">
    {{ range (where .Site.RegularPages "Type" "posts") }}
        {{ partial "recent-post.html" . }}
    {{ end }}
    </div>
  </section>
</div>
<!-- End Recent Posts -->

<div class="-mb-8">
  {{ partial "separator-bottom.html" (dict "bottom" "bg-transparent" "top" "dark:bg-gray-900 bg-white" ) }}
</div>

<!-- Dig through tags -->
<div class="py-8">
  <section class="container p-6 mx-auto md:p-10 lg:p-14">
    <div class="mb-4 md:mb-6 lg:mb-8">
      <h2 class="text-2xl font-semibold text-gray-800 dark:text-gray-100">Popular Tags</h2>
      <span class="block -mt-1 text-gray-400 text-normal dark:text-gray-200">
        Those are the most populare ones. You can also checkout <a href="/tags/" class="underline">all tags</a>.
      </span>
    </div>
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 xl:grid-cols-3">
      {{ range (first 3 .Site.Taxonomies.tags.ByCount) }}
        <a href="/tags/{{ .Name | urlize }}" class="flex flex-col flex-1 h-full p-4 bg-white border border-gray-300 rounded-sm shadow-sm cursor-pointer dark:border-gray-600 md:p-6 lg:p-8 dark:bg-transparent hover:bg-gray-100 dark:hover:bg-gray-800">
          <span class="text-xl font-medium text-gray-600 dark:text-gray-100">#{{ .Name }}</span>
          <span class="flex-grow"></span>
          <span class="flex flex-col text-sm font-thin text-gray-400 dark:text-gray-200">
              <span>{{ .Count }} posts</span>
          </span>
        </a>
      {{ end }}
    </div>
  </section>
</div>

<!-- End Dig through tags -->
{{ end }}